<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--<properties resource="../../../Files/properties.config"/>-->
  
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  
  <providers uri="providers.config"/>
  
	<!-- Database connection information -->
	<database>
		<provider name="oracleClient1.0"/>
		<dataSource name="oracle" connectionString="Data Source=spatial;Persist Security Info=True;User ID=scott;Password=tiger;Unicode=True"/>
	</database>

	<sqlMaps>
	  <!--<sqlMap resource="Maps/ProductMap.xml" />-->
    <sqlMap uri="../../Maps/DepartmentMap.xml" />
	</sqlMaps>

</sqlMapConfig>